In [32]:
import pandas as pd
import numpy as np

data = pd.read_csv('/home/denis/Загрузки/train.csv')
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,B,B,23,3684,2,NaN,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,B,B,52,11217,1,2300.0,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,NaN,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,B,B,53,13670,4,NaN,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,B,B,33,6783,3,NaN,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,521919.057400
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,127200.026511
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,B,B,46,9515,5,NaN,1,10,B,215083.969056
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,571069.052600
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,B,B,24,5613,5,1340.0,2,5,B,241718.099527
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,NaN,0,0,A,337299.867936
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,173910.923723
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,B,B,0,168,0,NaN,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,B,B,36,5992,0,NaN,1,1,B,213374.166403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,B,B,22,4789,2,4087.0,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,NaN,1,6,A,228845.682509
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,222068.370598
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,B,B,22,6398,141,1046.0,3,23,B,65949.315881
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,175229.645872
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,174497.101781
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,185996.664227
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,B,B,33,8667,2,NaN,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,750.0,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,3.465608e-02,B,B,0,168,0,NaN,0,0,B,115797.553006
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,NaN,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,B,B,6,1318,1,200.0,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,B,B,52,10311,6,NaN,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,350684.628560
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,171323.515653
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,B,B,30,5562,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,7.215758e-02,B,B,2,629,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [61]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null uint16
DistrictId       10000 non-null uint8
Rooms            10000 non-null float32
Square           10000 non-null float32
LifeSquare       7887 non-null float32
KitchenSquare    10000 non-null float32
Floor            10000 non-null uint8
HouseFloor       10000 non-null float32
HouseYear        10000 non-null uint32
Ecology_1        10000 non-null float32
Ecology_2        10000 non-null category
Ecology_3        10000 non-null category
Social_1         10000 non-null uint8
Social_2         10000 non-null uint16
Social_3         10000 non-null uint8
Healthcare_1     5202 non-null float32
Helthcare_2      10000 non-null uint8
Shops_1          10000 non-null uint8
Shops_2          10000 non-null category
Price            10000 non-null float32
dtypes: category(3), float32(8), uint16(2), uint32(1), uint8(6)
memory usage: 479.2 KB

In [53]:
conv_int = data.select_dtypes('int64').apply(pd.to_numeric, downcast='unsigned')
conv_float = data.select_dtypes('float').apply(pd.to_numeric, downcast='float')
# data = data.copy()
data[conv_int.columns] = conv_int
data[conv_float.columns] = conv_float
data.loc[:, data.select_dtypes('object').columns] = \
    data[data.select_dtypes('object').columns].astype('category')

In [62]:
data.shape

(10000, 20)

In [63]:
data.head(10)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981560,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.937500
1,15053,41,3.0,65.683640,40.049541,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.437500
2,4765,53,2.0,44.947952,29.197611,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.906250
3,5809,58,2.0,53.352982,52.731510,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.234375
4,10783,99,1.0,39.649193,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531250
5,12915,59,3.0,80.384476,46.683720,12.0,5,17.0,2011,0.309479,B,B,35,7715,4,990.0,0,6,B,215898.453125
6,14549,154,2.0,62.254112,37.160378,7.0,3,5.0,1960,0.460556,B,B,20,4386,14,NaN,1,5,B,296021.218750
7,11993,74,2.0,80.312927,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,221244.156250
8,5172,1,2.0,64.511436,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,229102.796875
9,8649,23,1.0,46.461411,18.915552,8.0,13,17.0,2014,0.075779,B,B,6,1437,3,NaN,0,2,B,95380.218750

In [64]:
data.describe(include='all')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000,10000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,B,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9903,9725,NaN,NaN,NaN,NaN,NaN,NaN,9175,NaN
mean,8383.40770,50.400800,1.890500,56.315712,37.199596,6.273300,8.526700,12.609400,3.990166e+03,0.118858,NaN,NaN,24.687000,5352.157400,8.039200,1142.904419,1.319500,4.231300,NaN,214139.218750
std,4859.01902,43.587592,0.839523,21.058718,86.241112,28.561113,5.241148,6.776192,2.005003e+05,0.119026,NaN,NaN,17.532614,4006.799803,23.831875,1021.518982,1.493601,4.806341,NaN,92872.304688
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,NaN,NaN,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,NaN,59174.777344
25%,4169.50000,20.000000,1.000000,41.774879,22.769833,1.000000,4.000000,9.000000,1.974000e+03,0.017647,NaN,NaN,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,NaN,153872.628906
50%,8394.50000,36.000000,2.000000,52.513309,32.781261,6.000000,7.000000,13.000000,1.977000e+03,0.075424,NaN,NaN,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,NaN,192269.648438
75%,12592.50000,75.000000,2.000000,65.900627,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,NaN,NaN,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,NaN,249135.460938
max,16798.00000,209.000000,19.000000,641.065186,7480.592285,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,NaN,NaN,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,NaN,633233.437500

In [66]:
data = data.drop('Healthcare_1', axis=1)

In [82]:
data.loc[(data['HouseYear'] == 20052011), 'HouseYear'] = 2008

In [84]:
data.loc[(data['HouseYear'] == 4968), 'HouseYear'] = 1968

In [85]:
data.loc[(data['HouseYear'] > 2021)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []